# Indexing and Slicing

In [107]:
import numpy as np
arr = np.arange(1,37).reshape(6,6)
arr

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

Getting a compelete row

In [6]:
arr[2:3,] #arr[row,column]

array([[13, 14, 15, 16, 17, 18]])

In [7]:
arr[2,]

array([13, 14, 15, 16, 17, 18])

In [8]:
arr[2]

array([13, 14, 15, 16, 17, 18])

In [9]:
arr[2,:]

array([13, 14, 15, 16, 17, 18])

In [10]:
arr[2,0:]

array([13, 14, 15, 16, 17, 18])

selecting a single column

In [11]:
arr[:,4]

array([ 5, 11, 17, 23, 29, 35])

In [12]:
arr[0:7,4]

array([ 5, 11, 17, 23, 29, 35])

In [16]:
arr[0:7,4:5]

array([[ 5],
       [11],
       [17],
       [23],
       [29],
       [35]])

arr[SartOfRow:EndOfRow:StepOfRow , SartOfColumn:EndOfColumn:StepOfColumn]

In [17]:
arr[:,::2] #stepping

array([[ 1,  3,  5],
       [ 7,  9, 11],
       [13, 15, 17],
       [19, 21, 23],
       [25, 27, 29],
       [31, 33, 35]])

In [18]:
arr[:,::-2] #stepping

array([[ 6,  4,  2],
       [12, 10,  8],
       [18, 16, 14],
       [24, 22, 20],
       [30, 28, 26],
       [36, 34, 32]])

In [19]:
d3 = np.arange(50).reshape(2,5,5)
d3

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]]])

In [20]:
#Picking 17
d3.shape

(2, 5, 5)

In [24]:
d3[1,3,2]

42

In [23]:
d3[0,3,2]

17

In [25]:
d3[0][3][2]

17

In [26]:
#Picking 16,17,18
d3[0,3,1:4]

array([16, 17, 18])

In [33]:
#Picking a Single Column
d3[0,:,2:3]

array([[ 2],
       [ 7],
       [12],
       [17],
       [22]])

In [37]:
d3[[0][:][2:3]]

array([], shape=(0, 5, 5), dtype=int32)

# Boolean Indexing

In [38]:
data = np.arange(64).reshape(8,8)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [42]:
bolarr = np.array([False,False,True,True,False,True,True,False], dtype = "bool")

In [43]:
bolarr

array([False, False,  True,  True, False,  True,  True, False])

In [44]:
data>50

array([[False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False],
       [False, False, False,  True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True]])

In [47]:
data[data>50]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63])

In [51]:
data[~(data>50)]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [48]:
data[bolarr]

array([[16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55]])

In [49]:
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [50]:
data[[2,1,6,4,0]]

array([[16, 17, 18, 19, 20, 21, 22, 23],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [ 0,  1,  2,  3,  4,  5,  6,  7]])

In [52]:
data[[2,1,6,4,0],2:6]

array([[18, 19, 20, 21],
       [10, 11, 12, 13],
       [50, 51, 52, 53],
       [34, 35, 36, 37],
       [ 2,  3,  4,  5]])

# Fancy Indexing

In [68]:
arr = np.empty((8,4))

In [70]:
for i in range(8):
    arr[i]=i

arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [71]:
arr[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [72]:
arr[[-3, -5, -7]]

array([[5., 5., 5., 5.],
       [3., 3., 3., 3.],
       [1., 1., 1., 1.]])

In [110]:
arr = np.arange(32).reshape((8, 4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [111]:
arr[[1, 5, 7, 2], [0, 3, 1, 2]] #Here the elements (1, 0), (5, 3), (7, 1), and (2, 2) will be selected

array([ 4, 23, 29, 10])

In [112]:
arr[[1, 5, 7, 2]][:, [0, 3, 1, 2]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

In [113]:
arr.T #Transposing

array([[ 0,  4,  8, 12, 16, 20, 24, 28],
       [ 1,  5,  9, 13, 17, 21, 25, 29],
       [ 2,  6, 10, 14, 18, 22, 26, 30],
       [ 3,  7, 11, 15, 19, 23, 27, 31]])

In [114]:
arr.transpose()

array([[ 0,  4,  8, 12, 16, 20, 24, 28],
       [ 1,  5,  9, 13, 17, 21, 25, 29],
       [ 2,  6, 10, 14, 18, 22, 26, 30],
       [ 3,  7, 11, 15, 19, 23, 27, 31]])

In [115]:
np.transpose(arr)

array([[ 0,  4,  8, 12, 16, 20, 24, 28],
       [ 1,  5,  9, 13, 17, 21, 25, 29],
       [ 2,  6, 10, 14, 18, 22, 26, 30],
       [ 3,  7, 11, 15, 19, 23, 27, 31]])

In [116]:
arr.swapaxes(1,0)

array([[ 0,  4,  8, 12, 16, 20, 24, 28],
       [ 1,  5,  9, 13, 17, 21, 25, 29],
       [ 2,  6, 10, 14, 18, 22, 26, 30],
       [ 3,  7, 11, 15, 19, 23, 27, 31]])

In [117]:
np.sqrt(arr) #book page 105 , pdf page = 123

array([[0.        , 1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974, 2.64575131],
       [2.82842712, 3.        , 3.16227766, 3.31662479],
       [3.46410162, 3.60555128, 3.74165739, 3.87298335],
       [4.        , 4.12310563, 4.24264069, 4.35889894],
       [4.47213595, 4.58257569, 4.69041576, 4.79583152],
       [4.89897949, 5.        , 5.09901951, 5.19615242],
       [5.29150262, 5.38516481, 5.47722558, 5.56776436]])

In [118]:
arr.mean()

15.5

In [119]:
arr.sum()

496

In [120]:
arr.sum(axis=1) #column

array([  6,  22,  38,  54,  70,  86, 102, 118])

In [121]:
arr.mean(axis=0) #row

array([14., 15., 16., 17.])

In [122]:
a = (11,22,33,44,11,22,33)

In [123]:
a

(11, 22, 33, 44, 11, 22, 33)

In [124]:
sett = set(a)

In [125]:
sett

{11, 22, 33, 44}

In [126]:
np.unique(arr)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [130]:
from numpy.linalg import inv
arr = np.arange(1,37).reshape(6,6)
print(arr)
inv(arr) #inverse

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]
 [25 26 27 28 29 30]
 [31 32 33 34 35 36]]

array([[ 1.03057200e+14,  1.54585800e+13, -1.89247312e+00,
         3.09171599e+13, -6.38954638e+14,  4.89521699e+14],
       [ 1.23531230e+16, -7.45447078e+15,  1.33333333e+01,
        -1.49089416e+16, -2.12984879e+15,  1.21401381e+16],
       [-6.95979622e+15,  9.01406973e+15, -9.00719925e+15,
         9.02094021e+15,  7.72241950e+15, -9.79043397e+15],
       [-1.35314103e+16, -4.53451679e+14,  1.35107989e+16,
         1.71074952e+16, -5.27652863e+15, -1.13569034e+16],
       [-1.98556871e+15,  3.60528437e+15,  2.46438953e+00,
        -1.79663051e+15, -9.00032877e+14,  1.07694774e+15],
       [ 1.00205951e+16, -4.72689023e+15, -4.50359963e+15,
        -9.45378045e+15,  1.22294544e+15,  7.44072982e+15]])

In [132]:
arr = np.arange(10).reshape(2,5)
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [137]:
arr.flatten()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [135]:
arr.ravel()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [138]:
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

# Concatenating Arrays

In [139]:
arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr1

array([[1, 2, 3],
       [4, 5, 6]])

In [140]:
arr2 = np.array([[7, 8, 9], [10, 11, 12]])
arr2

array([[ 7,  8,  9],
       [10, 11, 12]])

In [141]:
np.concatenate([arr1,arr2])

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [142]:
np.concatenate([arr1,arr2],axis=0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [143]:
np.concatenate([arr1,arr2],axis=1)

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [144]:
np.vstack([arr1,arr2]) #vertical concatenating

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [145]:
np.hstack([arr1,arr2])

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [146]:
sp = np.arange(36).reshape(6,6)
sp

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [150]:
np.vsplit(sp,3)

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11]]), array([[12, 13, 14, 15, 16, 17],
        [18, 19, 20, 21, 22, 23]]), array([[24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [151]:
np.vsplit(sp,2)

[array([[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]]), array([[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]])]

In [153]:
np.hsplit(sp,3)

[array([[ 0,  1],
        [ 6,  7],
        [12, 13],
        [18, 19],
        [24, 25],
        [30, 31]]), array([[ 2,  3],
        [ 8,  9],
        [14, 15],
        [20, 21],
        [26, 27],
        [32, 33]]), array([[ 4,  5],
        [10, 11],
        [16, 17],
        [22, 23],
        [28, 29],
        [34, 35]])]